*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    background-image: url("../images/default-pattern.png");
    background-position: center;
    background-size: cover;

}

.container{

    width: 95%;
    height: 800px;
    margin: 15px auto;


}

.mainHeader{
    height: 220px;
}

header {
    position: relative;
    height: 160px;
    background-color: white;
}

.headerImage{
    background-image: url("../images/default-header.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top:6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
}


.logo{
    position: absolute;
    width: 25%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

nav {
    position: relative;
    height: 48px;
    background-color:rgba(0,0,0,0.5);
}

menu{
    position: relative;
    width: 75%;
    height: 100%;
    background-color: orange;
    margin: auto;
}
.tabMenu{
    float: left;
    height: 100%;
    background-color: red;
    text-align: center;
    line-height: 100%;
}
.tabMenu a {


}

main{
    margin: 15px 0;
    background-color: silver;
    position: relative;
}

aside{
    height: 600px;
    background-color: yellow;
}

.left{
    float: left;
    width: 18%;
}
.mainBody{
    margin: 0 2%;
    background-color: orange;
    width: 54%;
    height: 650px;
    float: left;
}
.right {
    float: left;
    width: 24%;
}

main:after{
    content: '';
    display: table;
    clear: both;
}

footer{
    height: 130px;
    background-color: green;
}
